<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/template :: head(title = 'ToDoList')" />

<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!-- Navbar -->
  <th:block th:replace="main/template :: navbar" />
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <th:block th:replace="main/template :: sidebar" />

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Starter Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <div class="row">

          <div class="col-md-6">

            <div class="card card-primary">
              <div class="card-header">
                <h3 th:text="${category.name}" class="card-title"></h3>
              </div>


              <form method="post" th:object="${category}">
                <div class="card-body">
                  <div class="form-group">
                    <h3>
                      Are you sure you want to delete category?</h3>
                  </div>
                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Yes</button>
                  <a th:href="@{'/categories'}">
                    <button  type="button" class="btn btn-primary">No</button>
                  </a>
                </div>
              </form>
            </div>
          </div>
          </div>


        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <th:block th:replace="main/template :: rightbar" />
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <th:block th:replace="main/template :: footer" />
</div>
<!-- ./wrapper -->

</body>
</html>
